<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SnapCompanion Proxy</string>
	<key>CFBundleIdentifier</key>
	<string>br.com.anykey.SnapSync.proxy</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>SnapCompanion uses a network extension to read live Marvel Snap match data locally.</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.app-proxy</key>
			<string>$(PRODUCT_MODULE_NAME).TransparentProxyProvider</string>
		</dict>
	</dict>
</dict>
</plist>
